body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #0066cc;
}

nav a:hover {
    color: red;
}

form {
    background: white;
    padding: 15px;
    border-radius: 8px;
    max-width: 500px;
}

input,
textarea,
button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 12px;
}

button {
    background: #0066cc;
    color: white;
    border: none;
}

button:hover {
    background: #004a99;
}

@media (max-width: 600px) {

    body {
        margin: 10px;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }

    form {
        width: 100%;
    }

}

.movie-list {
    list-style: none;
    padding: 0;
}

.movie-list li {
    background: white;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
}

.movie-list a {
    color: #005ea8;
    font-weight: bold;
}

#movie-results {
    margin-top: 20px;
    min-height: 80px;
}

.movie-detail {
    max-width: 800px;
    margin: 0 auto;
}

.movie-poster {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.review-list {
    list-style: none;
    padding: 0;
}

.review-list li {
    background: white;
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.movie-poster{
    width:250px;
    border-radius:10px;
    margin-bottom:20px;
}

.movie-list img{
    width:120px;
    border-radius:8px;
}